@model IEnumerable<Domain.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>@Html.DisplayNameFor(model => model.DateTime)</th>
        <th>@Html.DisplayNameFor(model => model.Date)</th>
        <th>@Html.DisplayNameFor(model => model.Time)</th>
        <th>@Html.DisplayNameFor(model => model.Contacts)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @item.Contacts.Count
            </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PersonId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PersonId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PersonId })
        </td>
    </tr>
    }

</table>
